* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}


/* Cabeçalho */
header {
    background-color: var(--preto);
    height: 70px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}